.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.slick-slider .slick-arrow {
  filter: invert(100%);
}

.slick-slider .slick-arrow:hover {
  filter: invert(100%);
}