@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation effects */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink_me {
  animation: blinker 1.7s linear infinite;
}

@keyframes typingCursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.cursor-animation {
  animation: typingCursor 1.3s steps(1) infinite;
}

/* slick-carousel */
.slick-slider .slick-arrow {
  filter: invert(100%);
}

.slick-slider .slick-arrow:hover {
  filter: invert(100%);
}
div.slick-slider.slick-initialized {
  position: relative!important;
}

/* react-quill */
.quill {
  background-color: rgb(245 245 244);
}
.ql-editor {
  height: 323px;
}
#innerHTML {
  width: 83.333333%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#innerHTML p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}