@tailwind base;
@tailwind components;
@tailwind utilities;

/* Projects page */
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.slick-slider .slick-arrow {
  filter: invert(100%);
}

.slick-slider .slick-arrow:hover {
  filter: invert(100%);
}

/* react-quill */
.quill {
  background-color: rgb(245 245 244);
}
.ql-editor {
  height: 323px;
}
#innerHTML {
  width: 83.333333%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#innerHTML p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.slick-slider.slick-initialized {
  position: relative!important;
}